<section>
  <h2>Post a new workout</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Focus area (i.e. abs, glutes, biceps, etc)</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="description">Provide the workout instructions</label>
      <input id="description" name="description" />
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your workouts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit workouts</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>